<div class="airport-pickup-service">
    <h4>接机服务 AIRPORT PICK UP</h4>
    <div class="row  top-buffer">
        <div class="col-xs-3">
            <label>
                接机日期 Pickup Date</label><input type="date" step="7" min="2015-07-07" ng-model="clientInfo.ArrivalPickupDate" class="form-control input-lg" />
        </div>
        <div class="col-xs-3">
            <label>
                航班号 Flight No</label><input ng-model="clientInfo.ArrivalFlighNo" class="form-control input-lg" />
        </div>
        <div class="col-xs-3">
            <label>
                飞机到达时间 Arrival Time</label><input ng-model="clientInfo.FlightArrivalTime" class="form-control input-lg" />
        </div>
        <div class="col-xs-3">
            <label>
                接机机场 Airport</label><input ng-model="clientInfo.ArrivingAirport" class="form-control input-lg" />
        </div>
    </div>
    <div class="row  top-buffer">
        <div class="col-xs-4">
            <label>
                接机时间 Pickup Time</label><input ng-model="clientInfo.ArrivalPickTime" class="form-control input-lg" />
        </div>
        <div class="col-xs-4">
            <label>
                行李数量 Luggages</label>
            <input ng-model="clientInfo.ArrivalLuggages" class="form-control input-lg" />
        </div>
        <div class="col-xs-4">
            <label>
                登陆人数 Number Of People</label><input ng-model="clientInfo.ArrivalPeople" class="form-control input-lg" />
        </div>
    </div>
    <div class="row  top-buffer">
        <div class="col-xs-12">
            <label>
                酒店地址 Hotel Address</label>
            <input ng-model="clientInfo.HotelAddress" class="form-control input-lg" />
        </div>
    </div>
    <div class="row  top-buffer">
        <div class="col-xs-4">
            <label>
                联系人 Contact Person</label><input ng-model="clientInfo.ContactPerson" class="form-control input-lg" />
        </div>
        <div class="col-xs-4">
            <label>
                联系电话 Contact Number</label>
            <input ng-model="clientInfo.ContactNUmber" class="form-control input-lg" />
        </div>
    </div>
    <h4>送机服务 AIRPORT DEPARTURE</h4>
    <div class="row  top-buffer">
        <div class="col-xs-3">
            <label>
                送机日期 Departure Date</label><input type="date" step="7" min="2015-07-07" ng-model="clientInfo.LeavingPickUpDate" class="form-control input-lg" />
        </div>
        <div class="col-xs-3">
            <label>
                航班号 Flight No</label><input ng-model="clientInfo.LeavingFlightNo" class="form-control input-lg" />
        </div>
        <div class="col-xs-3">
            <label>
                送机时间 Departure Time</label><input ng-model="clientInfo.LeavingPickupTime" class="form-control input-lg" />
        </div>
        <div class="col-xs-3">
            <label>
                送机机场 Airport</label><input ng-model="clientInfo.LeavingAirport" class="form-control input-lg" />
        </div>
    </div>
    <div class="row  top-buffer">
        <div class="col-xs-4">
            <label>
                飞机起飞时间 Take Off Time</label><input ng-model="clientInfo.LeavingTime" class="form-control input-lg" />
        </div>
        <div class="col-xs-4">
            <label>
                行李数量 Luggages</label>
            <input ng-model="clientInfo.LeavingLuggages" class="form-control input-lg" />
        </div>
        <div class="col-xs-4">
            <label>
                登陆人数 Number Of People</label><input ng-model="clientInfo.LeavingPeopleNo" class="form-control input-lg" />
        </div>
    </div>
    <div class="row  top-buffer">
        <div class="col-xs-12">
            <label>
                酒店地址 Hotel Address</label>
            <input ng-model="clientInfo.LeavingHotelAddress" class="form-control input-lg" />
        </div>
    </div>
    <div class="row  top-buffer">
        <div class="col-xs-4">
            <label>
                联系人 Contact Person</label><input ng-model="clientInfo.LeavingContactPerson" class="form-control input-lg" />
        </div>
        <div class="col-xs-4">
            <label>
                联系电话 Contact Number</label>
            <input ng-model="clientInfo.LeavingContactPersonNo" class="form-control input-lg" />
        </div>
    </div>
</div>
