<div class="row  top-buffer">
    <div class=" col-xs-4 ">
        <table>
            <tr>
                <td>
                    <img src="images/logos/W_Clubs_color.png" width="100" height="100" /></td>
            </tr>
            <tr>
                <td>
                    <label class="footer-header ">
                        礼宾服务 Concierge Service
                    </label>
                </td>

                <tr>
                    <td>
                        <label  class="label-item">
                            <input type="checkbox" ng-click="AddAirPortForm()" ng-model="clientInfo.AirportService">
                            接送机预订 Car Service
                        </label>
                    </td>
                </tr>
            <tr>
                <td>
                    <label class="label-item">
                        <input type="checkbox" ng-click="AddClientRegistrationForm()" ng-model="clientInfo.UsOfficeCounsel">
                        办公室接待 Office Visiting
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="label-item">
                        <input type="checkbox" ng-model="clientInfo.MemberActivity">
                        会员活动 Events planning
                    </label>
                </td>
            </tr>
            <tr style="height: 15px">
                <td></td>
            </tr>
            <tr>
                <td>
                    <label class="footer-header ">
                        推荐服务 Referral service
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="label-item">
                        <input type="checkbox" ng-model="clientInfo.PropertyManagement">
                        资产管理 Investment
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="label-item">
                        <input type="checkbox" ng-model="clientInfo.LegalCounseling">
                        法律咨询 Legal
                    </label>
                </td>
            </tr>

            <tr>
                <td>
                    <label class="label-item">
                        <input type="checkbox" ng-model="clientInfo.AccountingRecommending">
                        会计推荐 Accounting
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="label-item">
                        <input type="checkbox" ng-model="clientInfo.InsuranceChoice">
                        保险选择 Insurance
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="label-item">
                        <input type="checkbox" ng-model="clientInfo.OpenAcccount">
                        银行开户 Banking
                    </label>
                </td>
            </tr>
        </table>
    </div>
    <div class=" col-xs-4">
        <table>
            <tr>
                <td>
                    <img src="images/logos/W_Education_Color.jpg" width="100" height="100" /></td>
            </tr>

            <tr>
                <td>
                    <label class="footer-header ">
                        升学教育 EDUCATION
                    </label>
                </td>
            </tr>
            <tr>
                <td>

                    <label  class="label-item" style="display: block">
                        <input type="checkbox" ng-model="clientInfo.SummerCamp" ng-click="AddStudentSummerCampForm()">
                        夏令营 
                    </label>
                    <label  class="label-item" style="padding-left: 20px; margin-top: -5px;">Summer Camp</label>
                </td>
            </tr>

            <tr>
                <td>
                    <label  class="label-item" style="display: block">
                        <input type="checkbox" ng-model="clientInfo.CollegeCounseling" ng-click="AddStudentSurveyForm()">
                        升学指导 
                    </label>
                    <label  class="label-item" style="padding-left: 20px; margin-top: -5px;">Admission Consulting</label>
                </td>
            </tr>
            <tr style="height: 15px">
                <td></td>
            </tr>
            <tr>
                <td>
                    <label   class="footer-header ">
                        生活事业 lIFE & CAREER
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label  class="label-item" style="display: block">
                        <input type="checkbox" ng-model="clientInfo.SkillsTraining">
                        技能培训  
                    </label>
                    <label  class="label-item" style="padding-left: 20px; margin-top: -5px;">Life Coaching</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label  class="label-item" style="display: block">
                        <input type="checkbox" ng-model="clientInfo.JobPlanning">
                        职业规划  
                    </label>
                    <label  class="label-item" style="padding-left: 20px; margin-top: -5px;">Career Planning</label>
                </td>
            </tr>
        </table>
    </div>

    <div class=" col-xs-4 ">
        <table>

            <tr>
                <td>
                    <img src="images/logos/W_Homes_color.jpg" width="100" height="100" /></td>
            </tr>
            <tr>
                <td>
                    <label class="footer-header ">
                        购房服务 REAL ESTATE
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label  class="label-item" style="display: block">
                        <input type="checkbox" ng-click="AddHouseForm()" ng-model="clientInfo.agentsReferral">
                        经纪推荐 
                    </label>
                    <label  class="label-item" style="padding-left: 20px; margin-top: -5px;">Agents Referral</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label  class="label-item" style="display: block">
                        <input type="checkbox" ng-model="clientInfo.RecommendedHousing">
                        房源推荐 
                    </label>
                    <label  class="label-item" style="padding-left: 20px; margin-top: -5px;">Property Listing</label>
                </td>
            </tr>
            <tr style="height: 15px">
                <td></td>
            </tr>
            <tr>
                <td>
                    <label class="footer-header ">
                        房产资信 INFORMATION
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label  class="label-item" style="display: block">
                        <input type="checkbox" ng-model="clientInfo.HousingPurchaseGuide">
                        购房指南 
                    </label>
                    <label  class="label-item" style="padding-left: 20px; margin-top: -5px;">Buyers Handbook</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label  class="label-item" style="display: block">
                        <input type="checkbox" ng-model="clientInfo.SchoolReports">
                        学区报告
                    </label>
                    <label  class="label-item" style="padding-left: 20px; margin-top: -5px;">School District Report</label>

                </td>
            </tr>

        </table>
    </div>

</div>


<div class="row  top-buffer" style="display: none">
    <div class="col-xs-4">
        <button ng-click="AddHouseForm()" class="btn btn-primary btn-lg add-house-request">
            Add 购房服务申请表
        </button>
    </div>
    <div class="col-xs-4">
        <button ng-click="AddAirPortForm()" class="btn btn-primary btn-lg add-airport-pickup">
            Add 接机服务 AIRPORT PICK UP
        </button>
    </div>
    <div class="col-xs-4">
        <button ng-click="AddClientRegistrationForm()" class="btn btn-primary btn-lg add-client_registration">
            Add 客户信息 Client Registration Form
        </button>
    </div>
</div>

<div class="row  top-buffer ">
    <div class="col-xs-12 ">
        <a href="http://www.w-academy.org/register.php" style="font-weight: bolder; font-size: 1.5em; display: none; color: #084B8A; text-decoration: underline !important" class="summer-camp-registration" target="_blank">2016年夏令营报名</a>
    </div>
</div>
