<div class="internal-client-info">
    <h4>附带申请人 1</h4>
    <div class="row  top-buffer">
        <div class="col-xs-4">
            <label>
                姓名 Name</label><input ng-model="clientInfo.FirstClientName" class="form-control input-lg" />
        </div>
        <div class="col-xs-2">
            <label>
                性别 Gender</label>
            <select class="form-control col-lg-12" ng-model="clientInfo.FirstClientGender" ng-options="gender.AbName as gender.StateName for gender in genders">
            </select>
        </div>
    </div>
    <div class="row  top-buffer">
        <div class="col-xs-4">
            <label>
                电话 Phone</label><input ng-model="clientInfo.FirstClientPhone" class="form-control input-lg" />
        </div>
        <div class="col-xs-4">
            <label>
                微信 Wechat</label><input ng-model="clientInfo.FirstClientWeChat" class="form-control input-lg" />
        </div>
        <div class="col-xs-4">
            <label>
                邮箱  Email</label><input ng-model="clientInfo.FirstClientEmail" class="form-control input-lg" />
        </div>
    </div>
    <h4>附带申请人 2</h4>
    <div class="row  top-buffer">
        <div class="col-xs-4">
            <label>
                姓名 Name</label><input ng-model="clientInfo.SecondClientName" class="form-control input-lg" />
        </div>
        <div class="col-xs-2">
            <label>
                性别 Gender</label>
            <select class="form-control col-lg-12" ng-model="clientInfo.SecondClientGender" ng-options="gender.AbName as gender.StateName for gender in genders">
            </select>
        </div>
    </div>
    <div class="row  top-buffer">
        <div class="col-xs-4">
            <label>
                电话 Phone</label><input ng-model="clientInfo.SecondClientPhone" class="form-control input-lg" />
        </div>
        <div class="col-xs-4">
            <label>
                微信 Wechat</label><input ng-model="clientInfo.SecondClientWeChat" class="form-control input-lg" />
        </div>
        <div class="col-xs-4">
            <label>
                邮箱  Email</label><input ng-model="clientInfo.SecondClientEmail" class="form-control input-lg" />
        </div>
    </div>
    <h4>附带申请人 3</h4>
    <div class="row  top-buffer">
        <div class="col-xs-4">
            <label>
                姓名 Name</label><input ng-model="clientInfo.ThirdClientName" class="form-control input-lg" />
        </div>
        <div class="col-xs-2">
            <label>
                性别 Gender</label>
            <select class="form-control col-lg-12" ng-model="clientInfo.ThirdClientGender" ng-options="gender.AbName as gender.StateName for gender in genders">
            </select>
        </div>
    </div>
    <div class="row  top-buffer">
        <div class="col-xs-4">
            <label>
                电话 Phone</label><input ng-model="clientInfo.ThirdClientPhone" class="form-control input-lg" />
        </div>
        <div class="col-xs-4">
            <label>
                微信 Wechat</label><input ng-model="clientInfo.ThirdClientWeChat" class="form-control input-lg" />
        </div>
        <div class="col-xs-4">
            <label>
                邮箱  Email</label><input ng-model="clientInfo.ThirdClientEmail" class="form-control input-lg" />
        </div>
    </div>
</div>
